<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "okHttpService" class= "com.example.NewsAggregator.Services.OkHttpService"/>
    <bean id= "newsFetcherService" class="com.example.NewsAggregator.Services.NewsFetcherService"/>
    <bean id= "newsAggregator" class="com.example.NewsAggregator.Services.NewsAggregator"/>
    <bean id= "taskScheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler"/>
</beans>